/* Site Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(19, 0, 0);
    padding: 30px;
    margin-top: 2em;
    box-sizing: border-box;
}

footer a {
    color: white; 
    text-decoration: none;
}