html, body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
}

.site-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    position: relative;
    width: 309px;
    height: 600px;
    top: 100px;
    margin: auto;
}

.goods-selection {
    position: relative;
    width: 100%;
    margin: auto;
}

.good {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;  
    margin: 0px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.good .overlay {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0;
}

.good p {
    position: absolute;
    margin: 0px;
    color: white;
    font-size: 10px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.good:hover .overlay {
    opacity: 0.6;
}

#rice {
    background-color: darkgoldenrod;
}

#spice {
    background-color: darkolivegreen;
}

#ricespice {
    background-image: linear-gradient(to bottom right, darkgoldenrod 50%, darkolivegreen 50%);
}

#rubber {
    background-color: darkmagenta;
}

#siapfaji {
    background-color: darkred;
}

#oil {
    background-color: rgb(73, 71, 71);
}

.asset-selection {
    position: relative;
    width: 100%;
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.asset {
    position: absolute;
    width: 100px;
    margin: 0px;
}

#asset1 {
    left: 0px;
}

#asset2 {
    right: 0px;
}