html, body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    -webkit-user-select: none;
    user-select: none;
}

.site-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.app {
    position: relative;
    width: 470px;
    height: 660px;
    top: 120px;
    margin: auto;
    background-color: rgb(100, 120, 140);
    border-radius: 2px;
}

.value-adjuster {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 20px;
    height: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.value-output {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    color:cornflowerblue;
}

.label {
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: rgb(220, 220, 220);
}

.goods-selection {
    position: relative;
    top: 20px;
    width: 429px;
    margin: auto;
}

.good {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;  
    margin: 0px;
    border: 0px;
    border-radius: 4px;
}

.good .overlay {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    opacity: 0;
    cursor: pointer;
}

.good p {
    position: absolute;
    margin: 0px;
    color: white;
    font-size: 16px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.good:hover .overlay {
    opacity: 0.6;
}

#ship {
    background-color: darkcyan;
}

#rice {
    background-color: darkgoldenrod;
}

#spice {
    background-color: darkolivegreen;
}

#rubber {
    background-color: darkmagenta;
}

#siapfaji {
    background-color: darkred;
}

#oil {
    background-color: rgb(73, 71, 71);
}

.asset-selection {
    position: relative;
    width: 400px;
    height: 80px;
    top: 30px;
    margin: auto;
}

.asset {
    position: absolute;
    height: 70px;
    line-height: 70px;
    margin: 0px;
    border-radius: 4px;
}

.asset .value-output {
    font-size: 30px;
    background-color: white;
    border-radius: 4px;
}

#asset1 {
    left: 0px;
}

#asset2 {
    right: 0px;
}

#payout-output {
    position: relative;
    top: 50px;
    margin: auto;
    width: 400px;
    height: 80px;
    line-height: 70px;
}

.payout {
    position: absolute;
    width: 110px;
    margin: 0px;
}

#payout1 {
    left: 0px;
}

#payout2 {
    right: 0px;
}

#payout1Output {
    width: 100px;
}

#payout2Output {
    width: 100px;
}

.bid-selection {
    position: relative;
    top: 80px;
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
}

.bid-selection #bidMinus5 {
    margin-right: 30px;
    width: 60px;
}

.bid-selection #bidPlus5 {
    margin-left: 30px;
    width: 60px;
}

#bidLabel {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: -10px;
}

#bidOutput {
    width: 150px;
    height: 80px;
    line-height: 80px;
    font-size: 54px;
}